<div class="pure-menu pure-menu-open pure-menu-horizontal">
	<ul>
		<a href="#" class="pure-menu-heading">thou hast been</a>
		<li><a href="/"> home </a></li>
		<li class="pure-menu-selected"><a href="/about"> about </a></li>
	</ul>
</div>

<h3> About </h3>
<div id="about-text" class="pure-g">
	<div class="pure-u-1-2">
		<p>
		A simple idea, <span class="our-name">thou hast been</span>, is a web application powered by Node.js that helps people keep track of where they've been in the world. While your phone sits in your pocket you can be feeding data to your own personal log.
		</p>
		<p>
		I believe that space and time are both significant in the capturing of life's moments. <span class="our-name">thou hast been</span> strives to make accessible the information that matters to you with as little of your own effort as possible.
		</p>

		<p>
		By simply installing <span class="our-name">thou hast been</span> on your mobile device, you will automatically start maintaining a record of your daily activities while you embark on your many adventures. When you return home, <span class="our-name">thou hast been</span> will be there to help you retell stories, share adventures, and save <strong><em>memories</em></strong>, the things that really matter.
		</p>
		<p>
		Douglas Lenz
		<em>Creator</em>
		</p>
	</div>
</div>