html {
	background-color:#AFAFAF;
	color: #000;
	margin-left:auto;
	margin-right:auto;
}

body {
	font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif
}

.container {
	width:80%;
	margin-left: auto;
	margin-right: auto;
}


.our-name {
	color: rgb(223, 117, 20);
}

/* Menus */
.pure-menu a {
	color: GoldenRod;
}
.active {
	border-bottom: 2px Orange solid;
}
/* End Menus */

/* Forms */
.button-orange {
    background: rgb(223, 117, 20);
    color: White;
}

.home-forms form {
	background-color: #DFDFDF;
	border-radius: 5;
	margin:5px;
	padding:5px;
}

.home-forms form legend {
	color: GoldenRod;
}

.home-forms label, button {
	margin-top:10px;
}

.home-forms input[type=text], .home-forms input[type=password] {
	border: none;
	background-color: #656565;
	box-shadow: inset 0 1px 3px #555;
	color: Orange;
}

/* End Forms*/

.home-heading {
	color:#565d64;
	text-transform: uppercase;
	font-weight: lighter;
	white-space: nowrap;
	font-size: 90%;
}

.home-promote-p {
	padding:10px;
}


#about-text {
	margin-left: auto;
	margin-right: auto;
}

.batman-link {
	text-decoration: none;
	font-weight: bold;
	color: GoldenRod;
}

.post-login-headers {
	background-color: white;
	padding: 0px 20px 0px 20px;
}

.post-login-headers p {
	display: inline;
}

/* Other sign in buttons */
.facebook-buttons {
	background-color: #4c66b4;
	color: white;
	border-radius: 3px;
	font-weight: bold;
	padding: 5px;
}

.google-buttons {
	background-color: #DD4B39;
	color: white;
	border-radius: 3px;
	padding:5px;
}

/* End other sign in buttons */